@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Inter;
}

@font-face {
  font-family: Inter;
  src: url(../public/Inter.ttf);
  font-display: swap;
}

html {
  font-size: clamp(12px, calc(0.6vmax + 8px), 16px);
}

@layer components {
  .tooltip {
    @apply relative after:absolute after:-left-12 after:top-1 after:ml-2 after:rounded-xl after:bg-green-900 after:py-2 after:px-4 after:opacity-0 after:hover:left-12 after:hover:opacity-100 max-md:after:hidden;
  }
}
